/* generelle indstillinger*/
* {
    box-sizing: border-box;
}

body {
    margin: 0%;

}

img {
    width: 100%;
}

/* generelle indstillinger SLUT*/


/*-------slide kode forside-------*/
body,
#slider,
.wrap .slide,
.slide-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.slide-content {
    display: flex;
    flex-direction: column;

    position: relative;
    left: 20vw;
    top: 10vw;

    /*align-items: center;
    justify-content: center;
    text-align: center;*/
}

.slide-content p {
    font-size: 3rem;
    color: #fff;

}

.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(splash_billeder/test.svg)
}

.slide2 {
    background-image: url(splash_billeder/Artboard%2013.svg)
}

.slide3 {
    background-image: url(splash_billeder/ui.svg)
}

.slide4 {
    background-image: url(splash_billeder/Artboard%206.svg)
}

.slide5 {
    background-image: url(splash_billeder/ui.svg)
}

.slide6 {
    background-image: url(splash_billeder/ui.svg)
}


.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow_left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow_right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

.button {
    /*text-align: center;
    margin-bottom: 1vw;*/

    left: 10vw;
    top: 10vw:
}

.button a {
    color: black;
    text-decoration: none;
    font-size: 2rem;



}



/*-------slide kode forside SLUT-------*/

/******* om *******/
#om {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#om .box {
    position: relative;
    text-align: center;
    margin-left: 35vw;
    padding-top: 30px;
    background-color: aquamarine;
    width: 25%;
    height: 100px;

}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#om .col {
    flex-grow: 1;
    flex-basis: 400px;
}

/******* om slut*******/

/******* web_top *******/

#web_top {}

#web_top .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#web_top .col {

    flex-grow: 1;
    flex-basis: 500px;

}

#web_top .img :hover {
    opacity: 0.3;
}

/******* web_top SLUT *******/

/******* ux_top *******/

#ux_top {}

#ux_top .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#ux_top .col_wide {

    flex-grow: 2;
    flex-basis: 600px;

}

#ux_top .col_narrow {

    flex-grow: 1;
    flex-basis: 300px;

}

#ux_top .img :hover {
    opacity: 0.3;
}

/******* ux_top SLUT *******/



/*#pil_1 {
    top: 85vw;
    left: 2vw;
    height: 34vw;
    width: 12vw;
    background-image: url(splash_billeder/pil.svg);
    background-size: cover;
    position: absolute;

}

#pil_2 {
    top: 85vw;
    right: 2vw;
    height: 34vw;
    width: 12vw;
    background-image: url(splash_billeder/pil.svg);
    background-size: cover;
    position: absolute;
    transform: rotate(180deg)
}
